In [1]:
# import pandas as pd
# import numpy as np
# import lightgbm as lgb
# import matplotlib.pyplot as plt
# import seaborn as sns
# import warnings
# from sklearn.model_selection import TimeSeriesSplit, GridSearchCV, RandomizedSearchCV
# from sklearn.metrics import make_scorer
# warnings.filterwarnings('ignore')

In [2]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt
import seaborn as sns
import lightgbm as lgb
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
from sklearn.metrics import mean_absolute_error
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.seasonal import seasonal_decompose
import statsmodels.api as sm
import itertools

import warnings
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
warnings.filterwarnings('ignore')

In [3]:
train = pd.read_csv("dataset_hosp_vacc.csv", parse_dates=["Date"])
test = pd.read_csv("dataset_hosp_vacc_test.csv", parse_dates=["Date"])
# sample_sub = pd.read_csv('demand_forecasting_datasets/sample_submission.csv')
df = pd.concat([train, test], sort=False)

df.head()

date_column = "Date" 
target_column= "new_hospitalized_patients"
feature_column_1 = "location_key"
feature_column_2 = "new_persons_vaccinated"
# date column name must me "date"

# #load dataset
# train = pd.read_csv('../input/demand-forecasting-kernels-only/train.csv', parse_dates=['date'])
# test = pd.read_csv('../input/demand-forecasting-kernels-only/test.csv', parse_dates=['date'])
# df = pd.concat([train, test], sort=False) # veri önişleme için test ve train bir araya getirdim
# df.head()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196448 entries, 0 to 13631
Data columns (total 16 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Unnamed: 0                             196448 non-null  int64
 1   Date                                   196448 non-null  datetime64[ns]
 2   location_key                           196448 non-null  object
 3   new_hospitalized_patients              182816 non-null  float64
 4   cumulative_hospitalized_patients       191901 non-null  float64
 5   current_hospitalized_patients          182816 non-null  float64
 6   new_intensive_care_patients            178035 non-null  float64
 7   cumulative_intensive_care_patients     178035 non-null  float64
 8   current_intensive_care_patients        182816 non-null  float64
 9   current_ventilator_patients            182816 non-null  float64
 10  new_persons_vaccinated                 196448 non-null  int64
 11  cumulative_persons_vaccinated          196448 non-null  int64
 12  new_persons_fully_vaccinated           196448 non-null  int64
 13  cumulative_persons_fully_vaccinated    196448 non-null  int64
 14  new_vaccine_doses_administered         182816 non-null  float64
 15  cumulative_vaccine_doses_administered  182816 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(5), object(1)
memory usage: 25.5+ MB

In [5]:
df.dtypes

Unnamed: 0                                        int64
Date                                     datetime64[ns]
location_key                                     object
new_hospitalized_patients                       float64
cumulative_hospitalized_patients                float64
current_hospitalized_patients                   float64
new_intensive_care_patients                     float64
cumulative_intensive_care_patients              float64
current_intensive_care_patients                 float64
current_ventilator_patients                     float64
new_persons_vaccinated                            int64
cumulative_persons_vaccinated                     int64
new_persons_fully_vaccinated                      int64
cumulative_persons_fully_vaccinated               int64
new_vaccine_doses_administered                  float64
cumulative_vaccine_doses_administered           float64
dtype: object

In [6]:
# date key field column name 
# date column name must me "date"

In [7]:
print("Train set:",train.shape)
print("Test set:",test.shape)

Train set: (182816, 16)
Test set: (13632, 8)

In [8]:
# combining the training and test dataset
# df = train +test


df.drop(['cumulative_hospitalized_patients','new_intensive_care_patients','cumulative_intensive_care_patients'], axis=1, inplace=True)
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [9]:
# using quantile function -transform a numeric input variable to have a different data distribution


df.quantile([0, 0.05, 0.25, 0.50, 0.75, 0.95, 0.99, 1]).T

                                           0.00  0.05   0.25    0.50      0.75        0.95         0.99         1.00
new_hospitalized_patients                   0.0   0.0    0.0     0.0      3.00       55.00       400.00      11246.0
current_hospitalized_patients               0.0   0.0    0.0     0.0      0.00        0.00        78.85       5390.0
current_intensive_care_patients             0.0   0.0    0.0     0.0      0.00        0.00        11.00        947.0
current_ventilator_patients                 0.0   0.0    0.0     0.0      0.00        0.00         3.00        557.0
new_persons_vaccinated                -350160.0   0.0    1.0     8.0     45.00     3746.30     49346.49    2118821.0
cumulative_persons_vaccinated               0.0   5.0  635.0  2539.0  11327.00  1430258.65   9669134.16  174333400.0
new_persons_fully_vaccinated          -233678.0   0.0    0.0     5.0     35.00     2120.00     36719.67    1600527.0
cumulative_persons_fully_vaccinated         0.0   0.0  191.0  1246.0   6379.00   654110.25   7957102.00  152340188.0
new_vaccine_doses_administered        -296286.0   0.0    4.0    21.0     99.00     6827.00     86546.05    2979630.0
cumulative_vaccine_doses_administered       0.0   3.0  786.0  3604.5  16469.25  1385242.00  15924807.60  326673588.0

In [10]:


df[date_column].min()

Timestamp('2020-01-25 00:00:00')

In [11]:
df[date_column].max()

Timestamp('2022-12-03 00:00:00')

In [12]:
# 25% - The 25% percentile*.
# 50% - The 50% percentile*.
# 75% - The 75% percentile*.
# max - the maximum value.

# *Percentile meaning: how many of the values are less than the given percentile. Read more about percentiles in our Machine Learning Percentile chapter.

df[target_column].describe([0.10, 0.30, 0.50, 0.70, 0.80, 0.90, 0.95, 0.99])
# df["sales"].describe()

count    182816.000000
mean         23.715999
std         226.523171
min           0.000000
10%           0.000000
30%           0.000000
50%           0.000000
70%           2.000000
80%           4.000000
90%          15.000000
95%          55.000000
99%         400.000000
max       11246.000000
Name: new_hospitalized_patients, dtype: float64

In [13]:
# to find the number of unique values inthe column

df[feature_column_1].nunique()

580

In [14]:

df[feature_column_2].nunique()

10943

In [15]:
# grouping the store column and finding the count of unique items in each store


df.groupby([feature_column_1])[target_column].nunique()

location_key
AR          350
AR_A         57
AR_A_007      8
AR_A_014      4
AR_A_021      4
           ...
BR_RR        38
BR_RS       328
BR_SC       264
BR_SE        96
BR_SP       572
Name: new_hospitalized_patients, Length: 580, dtype: int64

In [16]:
# group by 2 coumns and finding sales sum and other parameters like mean median and mode

df.groupby([feature_column_1]).agg({target_column: ["sum", "mean", "median", "std"],feature_column_2: ["sum", "mean", "median", "std"]})

             new_hospitalized_patients                                new_persons_vaccinated
                                   sum        mean median         std                    sum          mean   median           std
location_key
AR                            232643.0  537.281755  494.0  285.035539                7803686  15670.052209  10155.0  14193.124025
AR_A                            8491.0   21.940568   18.0   13.273101                 125071    303.570388    195.5    375.188099
AR_A_007                         253.0    0.773700    0.0    1.152822                   8169     23.406877     14.0     28.693597
AR_A_014                          73.0    0.270370    0.0    0.607460                   1155      3.969072      1.0      6.649014
AR_A_021                          64.0    0.226950    0.0    0.538468                   1434      4.764120      3.0      6.317767
...                                ...         ...    ...         ...                    ...           ...      ...           ...
BR_RR                           4662.0    7.459200    5.0    8.123960                 372636    581.335413      0.0   1459.914476
BR_RS                         113073.0  158.587658   99.0  184.288683                9637506  12532.517555      0.0  22221.724836
BR_SC                          74842.0  104.967742   71.0  106.901024                6288027   8198.209909      0.0  19220.451439
BR_SE                          17663.0   27.049005   19.0   26.827283                1893378   2760.026239      0.0   5269.703497
BR_SP                         526350.0  714.179104  540.0  678.697006               44892758  55767.401242  10691.0  96191.354060

[580 rows x 8 columns]

In [17]:
df['month'] = df.Date.dt.month

df['day_of_month'] = df.Date.dt.day

df['day_of_year'] = df.Date.dt.dayofyear 

df['week_of_year'] = df.Date.dt.weekofyear

df['day_of_week'] = df.Date.dt.dayofweek

df['year'] = df.Date.dt.year

df["is_wknd"] = df.Date.dt.weekday // 4

df['is_month_start'] = df.Date.dt.is_month_start.astype(int)

df['is_month_end'] = df.Date.dt.is_month_end.astype(int)

In [18]:
df.head()

        Date location_key  new_hospitalized_patients  current_hospitalized_patients  current_intensive_care_patients  current_ventilator_patients  new_persons_vaccinated  cumulative_persons_vaccinated  new_persons_fully_vaccinated  cumulative_persons_fully_vaccinated  new_vaccine_doses_administered  cumulative_vaccine_doses_administered  month  day_of_month  day_of_year  week_of_year  day_of_week  year  is_wknd  is_month_start  is_month_end
0 2020-02-12           AU                        0.0                            0.0                              0.0                          0.0                       0                              0                             0                                    0                             0.0                                    0.0      2            12           43             7            2  2020        0               0             0
1 2020-02-13           AU                        0.0                            0.0                              0.0                          0.0                       0                              0                             0                                    0                             0.0                                    0.0      2            13           44             7            3  2020        0               0             0
2 2020-02-20           AU                        0.0                            0.0                              0.0                          0.0                       0                              0                             0                                    0                             0.0                                    0.0      2            20           51             8            3  2020        0               0             0
3 2020-02-26           BR                        1.0                            0.0                              0.0                          0.0                       0                              0                             0                                    0                             0.0                                    0.0      2            26           57             9            2  2020        0               0             0
4 2020-02-28           AU                        0.0                            0.0                              0.0                          0.0                       0                              0                             0                                    0                             0.0                                    0.0      2            28           59             9            4  2020        1               0             0

In [19]:
# month wise grouping

df.groupby([feature_column_1, "month"]).agg({target_column: ["sum", "mean", "median", "std"]})

                   new_hospitalized_patients
                                         sum         mean  median         std
location_key month
AR           1                       36036.0   581.225806   574.5  113.777957
             2                       19841.0   367.425926   386.5  111.581699
             3                       16801.0   430.794872   477.0  139.916362
             4                       25348.0   844.933333   854.5  153.187497
             5                       32381.0  1044.548387  1045.0  161.952017
...                                      ...          ...     ...         ...
BR_SP        8                       34736.0   560.258065   523.0  232.440998
             9                       23871.0   397.850000   336.5  184.935520
             10                      16269.0   262.403226   212.0  149.040259
             11                      17357.0   289.283333   156.5  259.974972
             12                      21812.0   351.806452    91.5  383.679419

[6930 rows x 4 columns]

In [20]:
# random noise function 

def random_noise(dataframe):
    return np.random.normal(scale=1.6, size=(len(dataframe),))

In [21]:

# sorting according to date

df.sort_values(by=[feature_column_1, 'Date'], axis=0, inplace=True)
df.head()

             Date location_key  new_hospitalized_patients  current_hospitalized_patients  current_intensive_care_patients  current_ventilator_patients  new_persons_vaccinated  cumulative_persons_vaccinated  new_persons_fully_vaccinated  cumulative_persons_fully_vaccinated  new_vaccine_doses_administered  cumulative_vaccine_doses_administered  month  day_of_month  day_of_year  week_of_year  day_of_week  year  is_wknd  is_month_start  is_month_end
957    2020-12-29           AR                      594.0                            0.0                              0.0                          0.0                    2862                           2862                             0                                    0                          2862.0                                 2862.0     12            29          364            53            1  2020        0               0             0
156451 2020-12-30           AR                      553.0                            0.0                              0.0                          0.0                    2760                           5622                             0                                    0                          2760.0                                 5622.0     12            30          365            53            2  2020        0               0             0
1032   2020-12-31           AR                      403.0                            0.0                              0.0                          0.0                     378                           6000                             0                                    0                           378.0                                 6000.0     12            31          366            53            3  2020        0               0             1
156511 2021-01-01           AR                      450.0                            0.0                              0.0                          0.0                      15                           6015                             0                                    0                            15.0                                 6015.0      1             1            1            53            4  2021        1               1             0
45943  2021-01-02           AR                      575.0                            0.0                              0.0                          0.0                     410                           6425                             0                                    0                           410.0                                 6425.0      1             2            2            53            5  2021        1               0             0

In [22]:
# lag features function 


def lag_features(dataframe, lags):
    for lag in lags:
        dataframe['sales_lag_' + str(lag)] = dataframe.groupby([feature_column_1])[target_column].transform(
            lambda x: x.shift(lag)) + random_noise(dataframe)
    return dataframe

df = lag_features(df, [91, 98, 105, 112, 119, 126, 182, 364, 546, 728])

In [23]:
def roll_mean_features(dataframe, windows):
    for window in windows:
        dataframe['sales_roll_mean_' + str(window)] = dataframe.groupby([feature_column_1])[target_column]. \
                                                          transform(
            lambda x: x.shift(1).rolling(window=window, min_periods=10, win_type="triang").mean()) + random_noise(
            dataframe)
    return dataframe


df = roll_mean_features(df, [365, 546, 730])

In [24]:
def ewm_features(dataframe, alphas, lags):
    for alpha in alphas:
        for lag in lags:
            dataframe['sales_ewm_alpha_' + str(alpha).replace(".", "") + "_lag_" + str(lag)] = \
                dataframe.groupby([feature_column_1])[target_column].transform(lambda x: x.shift(lag).ewm(alpha=alpha).mean())
    return dataframe


alphas = [0.99, 0.95, 0.9, 0.8, 0.7, 0.5]
lags = [91, 98, 105, 112, 180, 270, 365, 546, 728]

df = ewm_features(df, alphas, lags)
df.tail()

,Date,location_key,new_hospitalized_patients,current_hospitalized_patients,current_intensive_care_patients,current_ventilator_patients,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,month,day_of_month,day_of_year,week_of_year,day_of_week,year,is_wknd,is_month_start,is_month_end,sales_lag_91,sales_lag_98,sales_lag_105,sales_lag_112,sales_lag_119,sales_lag_126,sales_lag_182,sales_lag_364,sales_lag_546,sales_lag_728,sales_roll_mean_365,sales_roll_mean_546,sales_roll_mean_730,sales_ewm_alpha_099_lag_91,sales_ewm_alpha_099_lag_98,sales_ewm_alpha_099_lag_105,sales_ewm_alpha_099_lag_112,sales_ewm_alpha_099_lag_180,sales_ewm_alpha_099_lag_270,sales_ewm_alpha_099_lag_365,sales_ewm_alpha_099_lag_546,sales_ewm_alpha_099_lag_728,sales_ewm_alpha_095_lag_91,sales_ewm_alpha_095_lag_98,sales_ewm_alpha_095_lag_105,sales_ewm_alpha_095_lag_112,sales_ewm_alpha_095_lag_180,sales_ewm_alpha_095_lag_270,sales_ewm_alpha_095_lag_365,sales_ewm_alpha_095_lag_546,sales_ewm_alpha_095_lag_728,sales_ewm_alpha_09_lag_91,sales_ewm_alpha_09_lag_98,sales_ewm_alpha_09_lag_105,sales_ewm_alpha_09_lag_112,sales_ewm_alpha_09_lag_180,sales_ewm_alpha_09_lag_270,sales_ewm_alpha_09_lag_365,sales_ewm_alpha_09_lag_546,sales_ewm_alpha_09_lag_728,sales_ewm_alpha_08_lag_91,sales_ewm_alpha_08_lag_98,sales_ewm_alpha_08_lag_105,sales_ewm_alpha_08_lag_112,sales_ewm_alpha_08_lag_180,sales_ewm_alpha_08_lag_270,sales_ewm_alpha_08_lag_365,sales_ewm_alpha_08_lag_546,sales_ewm_alpha_08_lag_728,sales_ewm_alpha_07_lag_91,sales_ewm_alpha_07_lag_98,sales_ewm_alpha_07_lag_105,sales_ewm_alpha_07_lag_112,sales_ewm_alpha_07_lag_180,sales_ewm_alpha_07_lag_270,sales_ewm_alpha_07_lag_365,sales_ewm_alpha_07_lag_546,sales_ewm_alpha_07_lag_728,sales_ewm_alpha_05_lag_91,sales_ewm_alpha_05_lag_98,sales_ewm_alpha_05_lag_105,sales_ewm_alpha_05_lag_112,sales_ewm_alpha_05_lag_180,sales_ewm_alpha_05_lag_270,sales_ewm_alpha_05_lag_365,sales_ewm_alpha_05_lag_546,sales_ewm_alpha_05_lag_728
5101,2022-11-01,BR_SP,NaN,NaN,NaN,NaN,9833,38366729,29449,35671518,NaN,NaN,11,1,305,44,1,2022,0,1,0,NaN,14.309571,NaN,29.462309,131.497205,NaN,117.458826,1792.457807,560.781288,977.359869,265.669049,816.494723,935.457481,15.0019,12.0017,60.9987,30.0029,42.561871,246.115365,1754.515035,563.938807,979.723451,15.047344,12.042550,60.967331,30.072487,44.844007,247.081062,1761.140581,574.670050,974.898178,15.187503,12.170815,60.867309,30.290115,47.763170,249.413244,1770.098945,585.771987,969.523209,15.720236,12.693782,60.437450,31.173364,53.762821,257.828394,1786.727231,600.130831,960.765449,16.510858,13.606235,59.619813,32.742827,59.893433,271.412133,1796.268797,603.632481,953.517913,18.312522,17.001406,56.340870,39.345755,72.152638,315.780083,1778.058588,576.372677,934.128467
12994,2022-11-02,BR_SP,NaN,NaN,NaN,NaN,68292,40884877,18902,36327021,NaN,NaN,11,2,306,44,2,2022,0,0,0,29.544422,NaN,48.715655,NaN,107.898075,216.286837,98.718026,1639.674312,523.869254,930.949291,263.764864,812.006666,939.154153,24.9990,12.0017,52.0009,30.0029,38.045619,600.421154,1793.605150,521.429388,932.477235,24.975118,12.042550,52.022418,30.072487,38.342200,586.154053,1792.357029,523.683502,934.144909,24.901875,12.170815,52.088673,30.290115,38.976317,568.541324,1791.609894,527.477199,935.752321,24.628809,12.693782,52.337498,31.173364,41.152564,534.765679,1792.545446,536.826166,937.753090,24.235977,13.606235,52.685784,32.742827,44.568030,504.223640,1794.680639,545.789744,938.455374,23.328130,17.001406,53.085614,39.345755,55.076319,459.890041,1786.029294,548.686339,933.064233
13609,2022-11-03,BR_SP,NaN,NaN,NaN,NaN,26126,41614409,71371,37559576,NaN,NaN,11,3,307,44,3,2022,0,0,0,NaN,8.411519,NaN,20.603726,86.662815,215.056221,41.696329,1178.176821,320.053063,571.751911,260.083698,805.824126,938.013692,24.9990,9.0003,52.0009,21.0009,47.900456,464.374212,1641.536052,320.034294,572.634772,24.975118,9.007606,52.022418,21.022681,47.517110,469.157703,1647.617851,328.284175,587.257245,24.901875,9.031708,52.088673,21.092902,47.097632,473.554132,1655.160989,338.947720,605.675232,24.628809,9.147751,52.337498,21.407060,46.630513,477.353136,1670.509089,361.765233,642.750618,24.235977,9.414561,52.685784,22.059191,46.970409,475.367092,1686.404192,386.336923,679.836612,23.328130,11.000354,53.085614,25.692897,51.538160,461.445021,1713.014647,433.343169,751.032117
5371,2022-12-01,BR_SP,NaN,NaN,NaN,NaN,10405,38377134,32442,35703960,NaN,NaN,12,1,335,48,3,2022,0,1,0,37.684049,NaN,39.984225,NaN,54.607008,186.846195,40.643844,1038.901795,270.208163,513.467170,253.889502,804.104991,936.385665,37.9987,9.0003,37.0015,21.0009,141.059005,382.823742,1183.625361,271.490343,515.576348,37.967438,9.007606,37.037556,21.022681,137.275856,386.357885,1202.430893,273.864209,518.612862,37.869019,9.031708,37.150887,21.092902,132.509763,391.155413,1226.616099,277.794772,524.067523,37.465152,9.147751,37.613500,21.407060,122.926103,401.070627,1277.301818,289.153047,540.550124,36.761238,9.414561,38.411721,22.059191,113.491123,410.010128,1331.221258,305.601077,564.450984,34.332033,11.000354,41.021771,25.692897,96.769080,421.722510,1446.007324,352.171585,633.016058
13030,2022-12-02,BR_SP,NaN,NaN,NaN,NaN,48468,40933345,6705,36333726,NaN,NaN,12,2,336,48,4,2022,1,0,0,NaN,35.112486,NaN,48.271246,NaN,147.590994,48.566573,2411.708503,784.148676,1270.741982,254.988916,797.412740,933.423208,37.9987,33.9975,37.0015,47.9973,108.330590,399.828237,1038.466254,778.874903,1266.415763,37.967438,33.937519,37.037556,47.932557,109.463793,399.317894,1045.271545,758.493210,1236.230643,37.869019,33.750317,37.150887,47.730929,110.450976,399.115541,1055.961610,733.379477,1199.006752,37.465152,33.005910,37.613500,46.936269,110.985221,400.214125,1085.060364,685.030609,1127.310025,36.761238,31.787311,38.411721,45.664863,109.647337,403.003038,1125.266377,640.480323,1061.135295,34.332033,28.250087,41.021771,42.390674,102.384540,410.861255,1241.503662,568.085792,953.508029

In [25]:


df = pd.get_dummies(df, columns=['day_of_week', 'month'])

In [26]:
# [feature_column_1, feature_column_2])[target_column

df[target_column] = np.log1p(df[target_column].values)

In [27]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['location_key'] = le.fit_transform(df['location_key'])

In [28]:
df.head(5)

,Date,location_key,new_hospitalized_patients,current_hospitalized_patients,current_intensive_care_patients,current_ventilator_patients,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,day_of_month,day_of_year,week_of_year,year,is_wknd,is_month_start,is_month_end,sales_lag_91,sales_lag_98,sales_lag_105,sales_lag_112,sales_lag_119,sales_lag_126,sales_lag_182,sales_lag_364,sales_lag_546,sales_lag_728,sales_roll_mean_365,sales_roll_mean_546,sales_roll_mean_730,sales_ewm_alpha_099_lag_91,sales_ewm_alpha_099_lag_98,sales_ewm_alpha_099_lag_105,sales_ewm_alpha_099_lag_112,sales_ewm_alpha_099_lag_180,sales_ewm_alpha_099_lag_270,sales_ewm_alpha_099_lag_365,sales_ewm_alpha_099_lag_546,sales_ewm_alpha_099_lag_728,sales_ewm_alpha_095_lag_91,sales_ewm_alpha_095_lag_98,sales_ewm_alpha_095_lag_105,sales_ewm_alpha_095_lag_112,sales_ewm_alpha_095_lag_180,sales_ewm_alpha_095_lag_270,sales_ewm_alpha_095_lag_365,sales_ewm_alpha_095_lag_546,sales_ewm_alpha_095_lag_728,sales_ewm_alpha_09_lag_91,sales_ewm_alpha_09_lag_98,sales_ewm_alpha_09_lag_105,sales_ewm_alpha_09_lag_112,sales_ewm_alpha_09_lag_180,sales_ewm_alpha_09_lag_270,sales_ewm_alpha_09_lag_365,sales_ewm_alpha_09_lag_546,sales_ewm_alpha_09_lag_728,sales_ewm_alpha_08_lag_91,sales_ewm_alpha_08_lag_98,sales_ewm_alpha_08_lag_105,sales_ewm_alpha_08_lag_112,sales_ewm_alpha_08_lag_180,sales_ewm_alpha_08_lag_270,sales_ewm_alpha_08_lag_365,sales_ewm_alpha_08_lag_546,sales_ewm_alpha_08_lag_728,sales_ewm_alpha_07_lag_91,sales_ewm_alpha_07_lag_98,sales_ewm_alpha_07_lag_105,sales_ewm_alpha_07_lag_112,sales_ewm_alpha_07_lag_180,sales_ewm_alpha_07_lag_270,sales_ewm_alpha_07_lag_365,sales_ewm_alpha_07_lag_546,sales_ewm_alpha_07_lag_728,sales_ewm_alpha_05_lag_91,sales_ewm_alpha_05_lag_98,sales_ewm_alpha_05_lag_105,sales_ewm_alpha_05_lag_112,sales_ewm_alpha_05_lag_180,sales_ewm_alpha_05_lag_270,sales_ewm_alpha_05_lag_365,sales_ewm_alpha_05_lag_546,sales_ewm_alpha_05_lag_728,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,day_of_week_5,day_of_week_6,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
957,2020-12-29,0,6.388561,0.0,0.0,0.0,2862,2862,0,0,2862.0,2862.0,29,364,53,2020,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
156451,2020-12-30,0,6.317165,0.0,0.0,0.0,2760,5622,0,0,2760.0,5622.0,30,365,53,2020,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1032,2020-12-31,0,6.001415,0.0,0.0,0.0,378,6000,0,0,378.0,6000.0,31,366,53,2020,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
156511,2021-01-01,0,6.111467,0.0,0.0,0.0,15,6015,0,0,15.0,6015.0,1,1,53,2021,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
45943,2021-01-02,0,6.356108,0.0,0.0,0.0,410,6425,0,0,410.0,6425.0,2,2,53,2021,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0

In [29]:

train = df.loc[(df[date_column] < "2022-01-01"), :]


val = df.loc[(df[date_column] >= "2020-01-25") & (df[date_column] < "2022-01-01"), :]


cols = [col for col in train.columns if col not in [date_column, 'id', target_column, "year"]]

In [30]:

Y_train = train[target_column]


X_train = train[cols]


Y_val = val[target_column]


X_val = val[cols] 


Y_train.shape, X_train.shape, Y_val.shape, X_val.shape

((169184,), (169184, 102), (169184,), (169184, 102))

In [31]:
def smape(preds, target):
    n = len(preds)
    masked_arr = ~((preds == 0) & (target == 0))
    preds, target = preds[masked_arr], target[masked_arr]
    num = np.abs(preds - target)
    denom = np.abs(preds) + np.abs(target)
    smape_val = (200 * np.sum(num / denom)) / n
    return smape_val


def lgbm_smape(preds, train_data):
    labels = train_data.get_label()
    smape_val = smape(np.expm1(preds), np.expm1(labels))
    return 'SMAPE', smape_val, False

In [32]:
lgb_params = {'metric': {'mae'},
              'num_leaves': 10,
              'learning_rate': 0.02,
              'feature_fraction': 0.8,
              'max_depth': 5,
              'verbose': 0,
              'num_boost_round': 10000, 
              'early_stopping_rounds': 200,
              'nthread': -1}

In [ ]:
lgbtrain = lgb.Dataset(data=X_train, label=Y_train, feature_name=cols)
lgbval = lgb.Dataset(data=X_val, label=Y_val, reference=lgbtrain, feature_name=cols)

model = lgb.train(lgb_params, lgbtrain,
                  valid_sets=[lgbtrain, lgbval],
                  num_boost_round=lgb_params['num_boost_round'],
                  early_stopping_rounds=lgb_params['early_stopping_rounds'],
                  feval=lgbm_smape, 
                  verbose_eval=100)

y_pred_val = model.predict(X_val, num_iteration=model.best_iteration)


smape(np.expm1(y_pred_val), np.expm1(Y_val))

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.041773 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
Training until validation scores don't improve for 200 rounds
[100]	training's l1: 0.464986	training's SMAPE: 143.478	valid_1's l1: 0.464986	valid_1's SMAPE: 143.478
[200]	training's l1: 0.382335	training's SMAPE: 143.028	valid_1's l1: 0.382335	valid_1's SMAPE: 143.028
[300]	training's l1: 0.358371	training's SMAPE: 142.43	valid_1's l1: 0.358371	valid_1's SMAPE: 142.43
[400]	training's l1: 0.34812	training's SMAPE: 141.9	valid_1's l1: 0.34812	valid_1's SMAPE: 141.9
[500]	training's l1: 0.341611	training's SMAPE: 141.411	valid_1's l1: 0.341611	valid_1's SMAPE: 141.411
[600]	training's l1: 0.336794	training's SMAPE: 141.04	valid_1's l1: 0.336794	valid_1's SMAPE: 141.04
[700]	training's l1: 0.332686	training's SMAPE: 140.734	valid_1's l1: 0.332686	valid_1's SMAPE: 140.734
[800]	training's l1: 0.329175	training's SMAPE: 140.49	valid_1's l1: 0.329175	valid_1's SMAPE: 140.49
[900]	training's l1: 0.326363	training's SMAPE: 140.281	valid_1's l1: 0.326363	valid_1's SMAPE: 140.281
[1000]	training's l1: 0.323916	training's SMAPE: 140.102	valid_1's l1: 0.323916	valid_1's SMAPE: 140.102
[1100]	training's l1: 0.321245	training's SMAPE: 139.915	valid_1's l1: 0.321245	valid_1's SMAPE: 139.915
[1200]	training's l1: 0.318875	training's SMAPE: 139.738	valid_1's l1: 0.318875	valid_1's SMAPE: 139.738
[1300]	training's l1: 0.316711	training's SMAPE: 139.583	valid_1's l1: 0.316711	valid_1's SMAPE: 139.583
[1400]	training's l1: 0.314889	training's SMAPE: 139.428	valid_1's l1: 0.314889	valid_1's SMAPE: 139.428
[1500]	training's l1: 0.313137	training's SMAPE: 139.28	valid_1's l1: 0.313137	valid_1's SMAPE: 139.28
[1600]	training's l1: 0.311509	training's SMAPE: 139.158	valid_1's l1: 0.311509	valid_1's SMAPE: 139.158
[1700]	training's l1: 0.310018	training's SMAPE: 139.041	valid_1's l1: 0.310018	valid_1's SMAPE: 139.041
[1800]	training's l1: 0.308717	training's SMAPE: 138.938	valid_1's l1: 0.308717	valid_1's SMAPE: 138.938
[1900]	training's l1: 0.307321	training's SMAPE: 138.831	valid_1's l1: 0.307321	valid_1's SMAPE: 138.831
[2000]	training's l1: 0.305987	training's SMAPE: 138.728	valid_1's l1: 0.305987	valid_1's SMAPE: 138.728
[2100]	training's l1: 0.304656	training's SMAPE: 138.634	valid_1's l1: 0.304656	valid_1's SMAPE: 138.634

In [ ]:
#Final Model



train = df.loc[~df.new_hospitalized_patients.isna()]
Y_train = train[target_column]
X_train = train[cols]

test = df.loc[df.new_hospitalized_patients.isna()]
X_test = test[cols]

In [ ]:
lgb_params = {'metric': {'mae'},
              'num_leaves': 10,
              'learning_rate': 0.02,
              'feature_fraction': 0.8,
              'max_depth': 5,
              'verbose': 0,
              'nthread': -1,
              "num_boost_round": model.best_iteration}

# LightGBM dataset

lgbtrain_all = lgb.Dataset(data=X_train, label=Y_train, feature_name=cols)

model = lgb.train(lgb_params, lgbtrain_all, num_boost_round=model.best_iteration)
test_preds = model.predict(X_test, num_iteration=model.best_iteration)

In [ ]:
# [feature_column_1, feature_column_2])[target_column

forecast = pd.DataFrame({date_column:test[date_column],
                        feature_column_1:test[feature_column_1],
#                         feature_column_2:test[feature_column_2],
                        target_column:test_preds
                        })

forecast[(forecast[feature_column_1] == 100) ].set_index(date_column).new_hospitalized_patients.plot(color = "green",
                                                                                    figsize = (20,9),
                                                                                    legend=True, label = "Forecast for location key 1");

In [ ]:
# def f(x):
#     input_location_key = x
#     train[(train[feature_column_1] == input_location_key) ].set_index(date_column).new_hospitalized_patients.plot(figsize = (20,9),legend=True, label = "Training for location key = %i" % input_location_key)
#     forecast[(forecast[feature_column_1] == input_location_key)].set_index(date_column).new_hospitalized_patients.plot(legend=True, label =  "Forecast for location key = %i" % input_location_key);

In [ ]:
input_location_key = 10
train[(train[feature_column_1] == input_location_key) ].set_index(date_column).new_hospitalized_patients.plot(figsize = (20,9),legend=True, label = "Training for location key = %i" % input_location_key)
forecast[(forecast[feature_column_1] == input_location_key)].set_index(date_column).new_hospitalized_patients.plot(legend=True, label =  "Forecast for location key = %i" % input_location_key);

In [ ]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

F1 = widgets.IntSlider(value=5, min=1, max=500)

interactive(f,x=F1)

In [ ]:
df.shape

In [ ]:
forecast[forecast[feature_column_1] == 7]

In [ ]:
df['location_key']

In [ ]:
# y_train_encoded = y_train.apply(le().fit_transform)
# y_test_encoded = y_test.apply(le().fit_transform)

# df['location_key'] =le.inverse_transform(y_pred)
# y_pred_inverse = le.inverse_transform(y_pred)
df_loc_key = df['location_key']